
.weather-toogle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 66px;
}

.celcius, .fahrenheit {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    color: #110E3C;
    background-color: #E7E7EB;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

.active {
    color: #E7E7EB;
    background-color: #ffcd00;
}

.active.night {
    color: #E7E7EB;
    background-color: #110E3C;
}

.celcius {
    margin-right: 12px;
}
