
.weather{
    width: 100%;
    display: flex;
}

.weather-main{
    position: relative;
    width: 32%;
    padding: 30px;
    background-color: #1E213A;
    overflow: hidden;
}

.weather-description{
    width: 68%;
    padding: 30px 90px 155px;
    background-color: #100E1D;
}

